<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CopyRightPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<applicationSettings>
		<CopyRightPDF.Properties.Settings>
   <setting name="SpreadSheetId" serializeAs="String">
    <value>1ZpVSuHWlt50fyLp0jQn59GotXUB_XJ5WyVDt7k-5MKw</value>
   </setting>
   <setting name="DocumentSheetName" serializeAs="String">
    <value>Documents</value>
   </setting>
   <setting name="LicenseSheetName" serializeAs="String">
    <value>Licenses</value>
   </setting>
   <setting name="ClientSecretFileName" serializeAs="String">
    <value>crpdfapi-2238f50f130f.json</value>
   </setting>
   <setting name="Host" serializeAs="String">
    <value>smtp.gmail.com</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>587</value>
   </setting>
   <setting name="Username" serializeAs="String">
    <value>thanhtuan.kd2@gmail.com</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>vxhfwzswjhifnlkz</value>
   </setting>
   <setting name="Subject" serializeAs="String">
    <value>Download Ebook: Sáng tạo Nghệ thuật Bất tận Cùng AI</value>
   </setting>
   <setting name="Body" serializeAs="String">
    <value>ApproveMailTemplate.html</value>
   </setting>
   <setting name="OutputPath" serializeAs="String">
    <value>D:\PROGRAMINGS\GitRepos\CopyRightPDF\Test\aa</value>
   </setting>
   <setting name="DisplayName" serializeAs="String">
    <value>Thanh Tuấn</value>
   </setting>
  </CopyRightPDF.Properties.Settings>
	</applicationSettings>
</configuration>