<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="PDFium.Viewer.WPF" version="1.1.1" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="21.1.37" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="21.1.37" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="21.1.37" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="21.1.37" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="21.1.37" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
</packages>